.wiz-box {
    position: relative;
    left: 20% ;
    height: 100vh;
    width: 60%;
    background: rgb(216, 233, 224); 
}

.add-cancel {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
}

#add-listing {
    color: black;
    position: relative;
    left: 20px;
}

#cancel {
    position: relative;
    right: 46px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    background: #FEC2C2;
    height: 35px;
}

.steps {
    position: relative;
    top: 10%;
    font-size: 20px;
}

.dots img {
    margin-right: 120px;
}

.dots {
    display: flex;
    position: relative;
    left: 21%;
    top: 12%;
}


.input-boxes {
    width: 58%;
    border: solid #519872 1px;
    border-radius: 3px;
}

/* Wizard 1 */

.name-desc-box {
    position: relative;
    top: 25%;
}

.texts {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    right: 18%;
}

#prop-name {
    position: relative;
    bottom: 20px;
    right: 20%;
}

#input-name {
    position: relative;
    bottom: 20px;
}

#input-desc {
    height: 100px;
}

#next-box1 {
    position: relative;
    top: 35%; 
}

.next-step {
    border: none;
    border-radius: 3px;
    background: #3B5249; 
    color: white;
    height: 35px;
    width: 135px;
}

/* Wizard 1*/
/* Wizard 2*/
/* use flex wrap to DRY this up */

.address-box {
    position: relative;
    top: 17%;
}

#address {
    position: relative;
    right: 22.75%;
}

.city-state-box {
    display: flex;
    position: relative;
    top: 22%;
}

#city {
    position: relative;
    left: 23.5%;
    bottom: 4px;
}

#state {
    position: relative;
    left: 50%;
}

#input-city {
    position: relative;
    left: 21%;
    width: 22%;
    margin-right: 80px;
}

#input-state {
    position: relative;
    left: 23%;
    width: 22%;
}

.zip-box {
    position: relative;
    top: 27%;
}

#zip {
    position: relative;
    right: 25%;
    bottom: 4px;
}

#input-zip {
    position: relative;
    right: 18%;
    width: 22%;
}

#prev-next-box {
    position: relative;
    top: 35%;
}

#prev-next-prev {
    margin-right: 35%;
}

/* Wizard 2 */
/* Wizard 3 */

.preview-img {
    position: relative;
    left: 21%;
    top: 17%;
    background: lightgray;
    border: solid #3B5249 1px;
    border-radius: 3px;
    height: 33%; 
    width: 57.75%;
}

.img-box {
    position: relative;
    top: 23%;
}

#img-url {
    position: relative;
    right: 22%;
}

#prev-next-box3 {
    position: relative;
    top: 28%;
}

/* Wizard 3 */
/* Wizard 4 */



/* Wizard 4 */
/* Wizard 5 */

#reco-rent {
    position: relative;
    bottom: 70px;
    right: 30px;
}

#des-rent {
    position: relative;
    right: 22%;
}

#prev-next-comp {
    background: #8AEA92;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

/* Wizard 5 */