.auth-box {
    position: relative;
    left: 20% ;
    height: 100vh;
    width: 60%;
    background: white; 
}

.auth-logo {
    position: relative;
    top: 32%; 
}

.user-pass {
    font-weight: 900;
    margin-top: 40px;
    position: relative;
    right: 32%;
    bottom: 7px;
}

.auth-input-box {
    position: relative;
    top: 34%;
}

.auth-input {
    height: 30px;
    width: 75%;
    border: 2px solid #519872;
}

.button-box {
    position: relative;
    top: 40%;

}

.auth-buttons {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-weight: 900;
}

#login-button {
    margin-right: 40px;
    background: #8AEA92;
}

#register-button {
    background: #3B5249;
    color: white;
}